<!DOCTYPE html>
<html lang="en">
{{> globalHeadTag}}
{{> header}}
<body class="">
    <main class="container mx-auto">
        <h1 class="text-lg">
            {{ vehicle.make }} {{ vehicle.model}}
        </h1>
        <h2 class="">
            foor
        </h2>
    </main>
{{> jsLoad }}
</body>
</html>